

<header>
    <a href="/" ><img src="../public/ojos-transformed.jpeg" alt="" class="img"></a>
    
    <nav>
        <ul class="header__li">
            {{#if user}}
                <li><a href="/profile" class="uploadLi">Hola {{user.first_name}}</a></li>
                <li><a href="/logout" class="uploadLi">Cerrar sesión</a></li>
                {{else}}
                <li><a href="/login" class="uploadLi">Login</a></li>
                <li><a href="/register" class="uploadLi">Registrarse</a></li>
            {{/if}}
        </ul>
    </nav>
</header>